/* CSS comments explanation: /* element being hidden, [note]  */

/*** GAMING ***/
ytd-game-card-renderer yt-formatted-string#live-viewers-count, /* watching worldwide */
ytd-grid-video-renderer #metadata-line > span:only-of-type, /* upload data, WARNING: hides views too */
ytd-grid-video-renderer #metadata-line:has(> span:nth-of-type(2)) > span:nth-of-type(1), /* views */
ytd-grid-video-renderer #metadata-line:has(> span:nth-of-type(2)) > span:nth-of-type(2)::before, /* delimiter, after views */ 

/*** HOME/SUBSCRIPTIONS ***/
/* regular videos */
ytd-rich-item-renderer:not(:has(yt-collection-thumbnail-view-model)) yt-content-metadata-view-model > div:nth-child(2):has(span + span) > :is(span:has(+ .yt-content-metadata-view-model__delimiter), .yt-content-metadata-view-model__delimiter), /* views & delimter */
/* live videos */
ytd-rich-item-renderer:has(.yt-badge-shape--thumbnail-live) yt-content-metadata-view-model > div:nth-of-type(2), /* watching */
ytd-rich-item-renderer:has(lottie-component) yt-content-metadata-view-model > div:nth-child(2):has(> span:first-child:last-child), /* watching, now playing */
/* shorts */
ytm-shorts-lockup-view-model-v2 h3 + div, /* views */

/*** LIVE/MUSIC ***/
ytd-rich-item-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="LIVE"]) ytd-video-meta-block #metadata-line > span:only-of-type, /* watching */
ytd-rich-item-renderer ytd-video-meta-block #metadata-line:has(> span:nth-of-type(2)) > span:nth-of-type(1), /* views */
ytd-rich-item-renderer ytd-video-meta-block #metadata-line:has(> span:nth-of-type(2)) > span:nth-of-type(2)::before, /* delimiter, after views */

/*** MINI PLAYER ***/
ytd-miniplayer .ytp-videowall-still-info-author, /* views, WARNING: hides author too */

/*** SEARCH/SHOPPING ***/
ytd-watch-card-hero-video-renderer yt-formatted-string#watch-card-subtitle, /* views, WARNING: hides upload date and name too */
ytd-watch-card-compact-video-renderer yt-formatted-string.subtitle, /* upload date, WARNING: hides upload date too */
ytd-video-renderer ytd-video-meta-block #metadata-line > span:nth-of-type(1), /* views */
ytd-video-renderer ytd-video-meta-block #metadata-line > span:nth-of-type(2)::before, /* delimiter, after views */ 

/*** WATCH ***/
ytd-watch-info-text #view-count, /* views, fetched every 5 min -- live and regular videos after 5 min */
/* end screen */
ytd-player .ytp-modern-videowall-still-view-count-and-date-info, /* views, WARNING: hides upload date too */
/* regular videos */
#primary-inner:not(:has(.ytp-live)) ytd-watch-info-text:has(#view-count[aria-label=""]) yt-formatted-string#info span:nth-child(-n+2), /* views /*
/* live videos */
#primary-inner:has(.ytp-live) yt-formatted-string#info:has(span:nth-of-type(3)) > span:nth-of-type(-n+3), /* watching, when first opening live stream */
/* related */
yt-lockup-view-model.ytd-item-section-renderer:has(yt-avatar-shape) yt-content-metadata-view-model > div:nth-child(2):has(span + span) > :is(span:has(+ .yt-content-metadata-view-model__delimiter), .yt-content-metadata-view-model__delimiter), /* views & delimter */
yt-lockup-view-model.ytd-item-section-renderer:has(.yt-badge-shape--thumbnail-live) yt-content-metadata-view-model > div:nth-of-type(2), /* watching */
/* description */
ytd-structured-description-video-lockup-renderer yt-formatted-string#metadata-details, /* views, video in description */
ytd-watch-info-text #tooltip /* views, hover description tooltip WARNING: hides upload date too */ {
  display: none !important;
}
