/*** HOME/SUBSCRIPTIONS ***/
ytd-rich-item-renderer:has(.badge-style-type-members-only), /* member videos */

/*** CHANNEL ***/
/* home */
ytd-grid-video-renderer:has(.badge-style-type-members-only), /* member videos */

/*** WATCH ***/
/* related (TODO: don't use svgs) */
yt-lockup-view-model.ytd-item-section-renderer:has(path[d="M6 11.5a5.5 5.5 0 100-11 5.5 5.5 0 000 11Zm1.058-6.956L6 2 4.942 4.544l-2.746.22 2.092 1.792-.64 2.68L6 7.8l2.351 1.436-.64-2.68 2.093-1.792-2.746-.22Z"]) /* member videos */ {
  display: none !important;
}
