/* CSS comments explanation: /* element being hidden, [note]  */

html[data-yh-hiderelatedvideos] {
  /*** WATCH ***/
  ytd-watch-next-secondary-results-renderer /* related videos */ {
    display: none !important;
  }
}
