/* CSS comments explanation: /* element being hidden, [note]  */

/*** HOME/SUBSCRIPTIONS ***/
ytd-rich-item-renderer:has(.yt-badge-shape--membership), /* member videos */
ytd-rich-item-renderer:has(path[d="M6 .5a5.5 5.5 0 100 11 5.5 5.5 0 000-11Zm.27 2.045.906 1.837 2.027.295a.3.3 0 01.166.511l-1.467 1.43.346 2.019a.3.3 0 01-.435.316L6 8l-1.813.953a.3.3 0 01-.435-.316l.346-2.019-1.467-1.43a.3.3 0 01.166-.511l2.027-.295.907-1.837a.3.3 0 01.539 0Z"]), /* member videos */

/*** CHANNEL ***/
/* home */
ytd-grid-video-renderer:has(.yt-badge-shape--membership), /* member videos */

/*** PLAYLISTS ***/
ytd-playlist-video-renderer:has(.yt-badge-shape--membership), /* member videos */

/*** WATCH ***/
/* related */
ytd-watch-next-secondary-results-renderer yt-lockup-view-model:has(path[d="M6 .5a5.5 5.5 0 100 11 5.5 5.5 0 000-11Zm.27 2.045.906 1.837 2.027.295a.3.3 0 01.166.511l-1.467 1.43.346 2.019a.3.3 0 01-.435.316L6 8l-1.813.953a.3.3 0 01-.435-.316l.346-2.019-1.467-1.43a.3.3 0 01.166-.511l2.027-.295.907-1.837a.3.3 0 01.539 0Z"]) /* member videos */ {
  display: none !important;
}
