/* CSS comments explanation: /* element being hidden, [note]  */

html[data-yh-hideplayables] {
  /*** HOME/SUBSCRIPTIONS ***/
  ytd-rich-section-renderer:has(a[href*="/playables"]), /* playables section */
  a[href*="/playables"], /* playables button, guide */ 

  /*** PLAYABLES ***/
  ytd-browse[page-subtype="playables"], /* playables, entire page */
  ytd-browse[page-subtype="mini_app"] /* playables, game */ {
    display: none !important;
  }
}
